@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

div {
  box-sizing: border-box;
}

.warehouseDetails {
  background-color: $primary-light;
  @include wrapper-mr;
}
.pageHeader {
  display: flex;
  flex-direction: row;
  @include wrapper-mr;
  background-color: aliceblue;
  justify-content: space-between;
  padding: $space-between-items-lg;
  padding-top: $space-outside-items-md + 10px;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: antiquewhite;
  }
  &__editBtn {
    background-color: blanchedalmond;
  }
  &__warehouse-name {
    font-size: $page-header;
  }
}

.warehouseAddress {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: $primary-light;
  border-top: 1px solid $bgcolor-dark;
  @include wrapper-mr;

  &__addressBox {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: $space-between-items-lg;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    border-left: 1px solid $bgcolor-dark;
    padding: $space-between-items-lg;
    padding-left: $space-outside-items-lg;
  }

  &__contactnameBox {
    flex-basis: 60%;
  }
}

.stillBox {
  @include wrapper-mr;
  display: none;
  @include tablet {
    display: grid;
    grid-template-columns: [box1] 1fr [box3] 1fr [box2] 1fr [box4] 1fr[box5] 1fr [box6]1fr;
    background-color: lightgray;
  }
  &__box1 {
  }
  &__box2 {
  }
  &__box3 {
  }
  &__box4 {
  }
  &__box5 {
  }
  &__box6 {
  }
}

.magicBox {
  @include wrapper-mr;
  display: grid;
  grid-template-columns: [box1] 1fr [box2] 1fr;
  @include tablet {
    grid-template-columns: [box1] 1fr [box3] 1fr [box2] 1fr [box4] 1fr[box5] 1fr [box6]1fr;
  }
  &__box1 {
    background-color: aqua;
  }
  &__box2 {
    background-color: aliceblue;
    grid-row-start: box3;
    @include tablet {
      grid-row-start: -1;
      grid-column-end: box2;
    }
  }
  &__box3 {
    background-color: darkgrey;
  }
  &__box4 {
    background-color: aqua;
  }
  &__box5 {
    background-color: aquamarine;
  }
  &__box6 {
    background-color: mistyrose;
  }
}
