@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

div {
  box-sizing: border-box;
}
body {
  font-size: $body-large-mobile;
  @include tablet {
    font-size: $body-large;
  }
}

.warehouseDetails {
  background-color: $primary-light;
  @include wrapper-mr;
  @include desktop {
    margin-top: -165px;
  }
}
.pageHeader {
  display: flex;
  flex-direction: row;
  @include wrapper-mr;
  justify-content: space-between;
  padding: $space-between-items-lg;
  padding-top: $space-outside-items-md + 10px;
  
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__editBtn {
    border-radius: 50%;
    background-color: $primary-accent;
    padding: 12px;
    color: $primary-light;
    display: flex;
    font-weight: $bold;
    @include tablet {
      border-radius: 20px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  &__iconBtnTxt {
    display: none;
    @include tablet {
      display: inline;
    }
  }
  &__linkEdit {
    text-decoration: none;
  }
  
  &__iconColor {
    filter: brightness(100);
    padding-right: 4px;
  }
  
  &__warehouse-name {
    font-size: $page-header-mobile;
    @include tablet {
      font-size: $page-header;
    }
    font-weight: $bold;
    padding-left: 6px;
  }
}

.warehouseAddress {
  display: flex;
  flex-direction: column;
  background-color: $primary-light;
  border-top: 1px solid $secondary-light;
  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  &__addressBox {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    padding: $space-between-items-sm;
    // @include wrapper-mr;
    @include tablet {
      padding: 0 $space-between-items-lg;
      margin-top: 2rem;
    }
    @include desktop {
      padding: 0 32px;
    }
  }
  
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 65%;
    padding: $space-between-items-sm;
    border-bottom: 1px solid $secondary-light;
    // @include wrapper-mr;
    @include tablet {
      border-bottom: none;
      border-left: 1px solid $secondary-light;
      padding: 0 $space-between-items-lg;
      padding-left: $space-outside-items-lg;
      margin-top: 2rem;
    }
    @include desktop {
      margin-bottom: 24px;
    }
  }
  
  &__contactnameBox {
    // @include wrapper-mr;
    flex-basis: 50%;
  }
  &__labelAddress,
  &__labelContact,
  &__labelName {
    font-size: $labels;
    font-weight: $bold;
    color: $secondary-dark;
  }
  
}

.stillBox {
  @include wrapper-mr;
  display: none;
  grid-template-columns: [box1] 1.2fr [box2] 1.2fr;
  align-items: center;
  padding-top: $space-between-items-sm;
  padding-bottom: $space-between-items-sm;
  font-size: 14px; //changed this
  font-weight: $bold;
  // background-color: $bgcolor-light;
  color: $secondary-dark;
  
  @include tablet {
    // padding-left: $space-between-items-lg;
    // padding-right: $space-between-items-lg;
    display: grid;
    grid-template-columns: [box1] 1.2fr [box3] 1fr [box2] 1.2fr [box4] 1fr[box5] 0.3fr [box6]0.4fr;
  }
  @include desktop {
    width: 1024px;
    padding: 11px 32px;
  }
  &__box1 {
    display: flex;
    gap: 0.25rem;
  }
  &__box2 {
    display: flex;
    
    gap: 0.25rem;
  }
  &__box3 {
    display: flex;
    gap: 0.25rem;
  }
  &__box4 {
    display: flex;
    gap: 0.25rem;
  }
  &__box6 {
    margin-left: auto;
  }
}

.magicBox {
  // @include wrapper-mr;
  padding: 0 24px;
  // border-top: 1px solid $secondary-light;
  padding: $space-between-items-sm;
  padding-top: $space-between-items-sm + 2px;
  padding-bottom: $space-between-items-sm + 2px;
  
  display: grid;
  grid-template-columns: [box1] 1.2fr [box2] 1.2fr;
  font-size: $body-large-mobile;
  
  border-bottom: 1px solid $secondary-light;
  
  &:hover {
    background-color: rgba(46, 102, 229, 0.07);
  }
  
  @include tablet {
    padding-left: 32px;
    padding-right: $space-between-items-lg;
    font-size: $body-large;
    grid-template-columns: [box1] 1.2fr [box3] 1fr [box2] 1.2fr [box4] 1fr[box5] 0.3fr [box6]0.4fr;
  }
  
  &__labelMobile {
    color: $secondary-dark;
    font-weight: $bold;
    @include tablet {
      display: none;
    }
  }
  &__box1 {
    display: flex;
    flex-direction: column;
    padding-bottom: $space-between-items-lg;
    @include tablet {
      flex-direction: row;
      padding-bottom: 0;
    }
    font-weight: $bold;
    color: $primary-accent;
    text-transform: capitalize;
  }
  &__box2 {
    grid-row-start: box3;
    @include tablet {
      grid-row-start: -1;
      grid-column-end: box2;
    }
    display: flex;
    flex-direction: column;
    @include tablet {
      display: block;
    }
  }
  &__box3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablet {
      display: block;
    }
  }
  &__box4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablet {
      display: block;
    }
  }
  &__box5 {
    padding-top: $space-outside-items-sm;
    margin-right: auto;
    @include tablet {
      margin-left: auto;
      padding-top: 0;
      &__modal {
        background-color:$primary-light;
        border-radius: 3px;
        height: 83vh;
        padding: 3.75rem 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__close {
          position: absolute;
          top: 10%;
          right: 5%;
        }
        &--title {
          font-size: $page-header-mobile;
          line-height: 2.25rem;
          margin-bottom: 1rem;
          margin-top: 2.5rem;
        }
        &--text{
          font-size: $body-large-mobile;
          line-height: 1.625rem;
        }
        &--div{
          padding-bottom: auto;
          display: flex;
          justify-content: space-between;
          @include tablet {
            width: 30%;
            margin-left: auto;
          }
        }
        &--btn {
          display: flex;  
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          padding: 0.5rem;
          border: none;
          font-weight: 600;
          height: 2.375rem;
          margin: 1rem 0;
          
          &--cancel {
            width: 47%;
            border: 1px solid $secondary-light;
            background-color: $primary-light;
            color: $primary-dark;
            &:hover {
              color: $primary-accent;
              background-color: $primary-light;
              transition: .5s;
            }
          }
          &--delete {
            width: 47%;
            background-color: $sup-red;
            color: $primary-light;
            &:hover {
              background-color: $bgcolor-dark;
              transition: .5s;
            }
          }
        }
        
      }
      
    }
  }
  &__box6 {
    margin-top: auto;
    margin-left: auto;
    padding-right: $space-between-items-sm;
  }
  &__labelItem {
    // width: 110px;
    display: flex;
    text-decoration: none;
    color: $primary-accent;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
  }
  // &__chevron {
  //   position: relative;
  //   left: -20px;
  //   @include tablet {
  //     left: 10px;
  //   }
  // }
  &__labelItem img {
    margin-left: 0.5rem;
  }
  &__inStock {
    background-color: rgba(20, 133, 99, 0.07);
    border-radius: 20px;
    padding: 2px 14px;
    margin-top: 4px;
    font-size: $labels;
    color: $sup-green;
    font-weight: $bold;
    position: relative;
    left: -8px;
    @include tablet {
      padding: 8px 12px;
      margin-top: 0px;
    }
  }
  &__outOfStock {
    background-color: rgba(201, 69, 21, 0.07);
    border-radius: 20px;
    padding: 2px 14px;
    margin-top: 4px;
    font-size: $labels;
    color: $sup-red;
    font-weight: $bold;
    position: relative;
    left: -8px;
    @include tablet {
      padding: 8px 12px;
      margin-top: 0px;
    }
  }
}

.flexbox {
  display: flex;
}

.modal {
  &__modal {
    background-color:$primary-light;
    border-radius: 3px;
    height: 83vh;
    padding: 3.75rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__close {
      position: absolute;
      top: 10%;
      right: 5%;
    }
    &--title {
      font-size: $page-header-mobile;
      line-height: 2.25rem;
      margin-bottom: 1rem;
      margin-top: 2.5rem;
    }
    &--text{
      font-size: $body-large-mobile;
      line-height: 1.625rem;
    }
    &--div{
      padding-bottom: auto;
      display: flex;
      justify-content: space-between;
      @include tablet {
        width: 30%;
        margin-left: auto;
      }
    }
    &--btn {
      display: flex;  
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      padding: 0.5rem;
      border: none;
      font-weight: 600;
      height: 2.375rem;
      margin: 1rem 0;
      
      &--cancel {
        width: 47%;
        border: 1px solid $secondary-light;
        background-color: $primary-light;
        color: $primary-dark;
        &:hover {
          color: $primary-accent;
          background-color: $primary-light;
          transition: .5s;
        }
      }
      &--delete {
        width: 47%;
        background-color: $sup-red;
        color: $primary-light;
        &:hover {
          background-color: $bgcolor-dark;
          transition: .5s;
        }
      }
    }
    
  }
}