@use '../../styles/partials/variables' as *;

button {
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: $primary-accent;
    color: white;
    border-radius: 25px;
    padding: 0.5rem;
    border: none;
    font-weight: 600;
    
}

