@use "./variables" as *;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin customViewport($query, $size) {
    @if $query == min {
        @media (min-width: $size) {
            @content;
        }
    } @else {
        @media (max-width: $size) {
            @content;
        }
    }
}

@mixin wrapper{
    padding-left:24px;
    padding-right:24px;
    
    @include tablet {
        width: 90%;
        margin-right: auto;
        margin-left:auto;
    }
    @include desktop {
        width: 1040px;
    }
}


@mixin wrapper-mr{
    margin-left:16px;
    margin-right:16px;
    
    @include tablet {
        margin-right: 32px;
        margin-left:32px;
    }
    @include desktop {
        width: 1020px;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin img-resp {
    max-width: 100%;
    height: auto;
    display: block;
}

