$tablet-width:786px;
$desktop-width:1280px;

$primary-dark:#13182C;
$primary-accent:#2E66E5;
$primary-light:#FFFFFF;

$secondary-dark:#5C667E;
$secondary-light:#BDC5D5;

$bgcolor-dark:#232940;
$bgcolor-light:#F7F8F9;

$sup-green:#158463;
$sup-red:#C94515;

$regular:400;
$bold:600;


$def-border:1px solid $bgcolor-light;

$page-header: 32px;
$subheader: 24px;
$labels: 14px;
$table-header: 12px;
$body-large: 16px;
$body-medium: 14px;
$body-small: 12px;
$page-header-mobile: 28px;
$subheader-mobile: 20px;
$labels-mobile: 13px;
$table-header-mobile: 11px;
$body-large-mobile: 15px;
$body-medium-mobile: 13px;
$body-small-mobile: 11px;

