$tablet-width:786px;
$desktop-width:1280px;

$primary-dark:#13182C;
$primary-accent:#2E66E5;
$primary-light:#FFFFFF;

$secondary-dark:#5C667E;
$secondary-light:#BDC5D5;

$bgcolor-dark:#232940;
$bgcolor-light:#F7F8F9;

$sup-green:#158463;
$sup-red:#C94515;

$regular:400;
$bold:600;






