@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.warehouseTablet {
    font-size: 0.6875rem;
    
    &__wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $secondary-light;
        align-items: center;
        //margins from variables
        padding: 0 1.5rem;
        @include tablet {
            padding: 0 2rem;
        }
        @include tablet {
            padding: 0 2.5rem;
        }
    }
    &__location {
        display: flex;
        justify-content: left;
        align-items: center;
        color: $primary-accent;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    &__title{
        text-transform: uppercase;
        color:$secondary-dark;
        font-weight: bold;
    }
    &__name{
        margin-bottom: 1rem;
    }
    &__info{
        margin-bottom: 1rem;
        width: 7.5rem;
        text-align: left;
    }
    &__icon--tablet {
        text-align: right;
    }

}