@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.pheader{
    @include wrapper;
    position: relative;
    padding:0px 0;
    &__bg-curtain{
        position: absolute;
    }

    &__wrapper{
        background-color: $primary-light;
        padding: 20px 24px;
        display: flex;
        border-bottom:1px solid $secondary-light;
        align-items: center;
        justify-content: center;
    }


    &__arrow{
        display: block;
        margin-right:10px;
    }

    &__txt{
        font-size: 28px;
        line-height: 36px;
    }
    
}