@use '../../styles/partials/variables' as *;

.inputBar {
    
    &__icon {
        color:$primary-dark;
    }
    &__input {
        outline: none; 
        width:100%;
        font-family: 'Times New Roman', Times, serif;
        background-color: $bgcolor-light;
    }
    
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    color: $primary-dark;
    &:focus {
        outline: none; 
    }
}