@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.warehouseList {
    margin: 0 1rem;
    background-color: $primary-light;
    padding-top: 3rem;
    @include tablet {
        padding-top: 2rem;
        margin: 0 2rem;
    }
    @include desktop {
        margin: 0 8.125rem;
    }
    &__header {
        padding-left:1.5rem;
        padding-right:1.5rem;
        @include tablet{
            padding-left:2rem;
            padding-right:2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @include desktop {
            padding-left:2.5rem;
        padding-right:2.5rem;
        }
    }
    &__btns {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
        @include desktop {
            width: 50%;
        }
    }
    &__title{
        font-weight: $bold;
        font-size: 2rem;  
    }
   
    // &__btn {
    //     height: 2.375rem;
    //     width: 100%;
    //     margin: 1rem 0;
    //     @include tablet {
    //         width:49%;
    //     }
    //     @include desktop {
    //         width: 40%;
    //     }
    // }
    &__tablet {
        display: none;
        @include tablet{
            display:contents;
        }
    }
    &__mobile {
        @include tablet {
            display: none;
        }
    }
    &__subtitle {
        font-size: 0.6875rem;
        text-transform: uppercase;
        color:$secondary-dark;
        font-weight: bold;
        width: 10rem;
        align-items: left;
        display: flex;
            align-items: center;
            justify-content: left;
        &--icon {
            @include tablet {
                height: 0.75rem;
                padding-left: .2rem;
            }
        }
   
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        margin:1rem 0;
        
        @include wrapper
        
    }
    
}
.align-right {
    justify-content: right;
}