@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/resets';

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
    font-size: .8125rem;
    line-height: 26px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }