@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.warehouse {
    font-size: 0.6875rem;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $secondary-light;
        padding: 0 1.5rem 1rem;
        &:hover {
        background-color:rgba(46, 102, 229, 0.07);
        }

    }
    &__location {
        display: flex;
        justify-content: left;
        align-items: center;
        color: $primary-accent;
        font-weight: bold;
        margin-bottom: 1rem;
        fill:$primary-accent;
        &:hover {
            text-decoration: underline;
            transition: .5s;
        }
    }
    &__title{
        text-transform: uppercase;
        color:$secondary-dark;
        font-weight: bold;
    }
    &__div{
        max-width: 7.25rem;
        margin-top: 1rem;
    }
    &__name{
        margin-bottom: 1rem;
    }
    &__info{
        margin-bottom: 1rem;
    }
    &__close {
        position: absolute;
        top: 2.5%;
        right: 5%;
    }
    
    &__modal {
        height: 99vh;
        background-color:$bgcolor-light;
        padding: 3.75rem 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--title {
            font-size: $page-header-mobile;
            line-height: 2.25rem;
            margin-bottom: 1rem;
        }
        &--text{
            font-size: $body-large-mobile;
            line-height: 1.625rem;
        }
        &--div{
            padding-bottom: auto;
            display: flex;
            justify-content: space-between;
        }
        &--btn {
            display: flex;  
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            padding: 0.5rem;
            border: none;
            font-weight: 600;
            height: 2.375rem;
            width: 49%;
            margin: 1rem 0;
            
            &--cancel {
                width: 47%;
                border: 1px solid $secondary-light;
                background-color: $primary-light;
                color: $primary-dark;
                &:hover {
                    color: $primary-accent;
                    background-color: $primary-light;
                    transition: .5s;
                }
                
            }
            &--delete {
                width: 47%;
                background-color: $sup-red;
                color: $primary-light;
                &:hover {
                    background-color: $bgcolor-dark;
                    transition: .5s;
                }
            }
        }
        
    }

}
.hover {
        &:hover {
            background-color: $bgcolor-dark;
        }
    }